@media only screen and (max-width: 400px) {
  .headder {
    display: block;
    text-align: center;
  }
  .topnav {
    visibility: hidden;
  }
  .nav .mobile-topnav .dropbtn {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 10px 12px;
    font-size: 15px;
  }
  .nav a {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 10px 12px;
    font-size: 15px;
  }
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .footer {
    display: block;
  }
}

@media only screen and (min-width: 400px) {
  .topnav {
    display: block;
  }
  .nav .mobile-topnav .dropbtn {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 14px 16px;
    font-size: 17px;
  }
  .nav a {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 14px 16px;
    font-size: 17px;
  }
  .mobile-topnav {
    visibility: hidden;
  }
  .grid-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 450px) {
  .headder {
    display: block;
    text-align: center;
  }
  .headder h1 {
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 450px) {
  .headder {
    left: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 900px) {
  .headder h1 {
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .headder h1 {
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1600px) {
  .content {
    margin: 2rem;
  }
}

@media screen and (max-width: 2800px) {
  .skill-bar-percent {
    line-height: 35px;
  }
  .skillbar-title span {
    line-height: 35px;
  }
  .skillbar {
    height: 35px;
  }
  .arrow-container {
    width: 25px;
    height: 20px;
  }
  .arrow-down {
    height: 6px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2800px) {
  .content {
    margin: 2rem auto;
    max-width: 1500px;
  }
}

@media only screen and (min-width: 2800px) {
  .headder h1 {
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    font-size: 4.5rem;
  }
  .nav a {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 24px 28px;
    font-size: 150%;
  }
  .content {
    margin: 6rem auto;
    max-width: 2500px;
    font-size: 125%;
  }
  .skill-bar-percent {
    font-size: 125%;
  }
  .skillbar-title span {
    font-size: 125%;
  }
  .skill-bar-percent {
    line-height: 55px;
  }
  .skillbar-title span {
    line-height: 55px;
  }
  .skillbar {
    height: 55px;
  }
  .footer {
    font-size: 125%;
  }
  .socialmedia {
    margin-left: 1.2rem;
  }
  .arrow-container {
    width: 35px;
    height: 30px;
  }
  .arrow-down {
    height: 10px;
  }
}

body {
  font-family: Arial;
  background-color: #343435;
  margin: 0;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-X: hidden;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

h1 {
  color: white;
}

.name {
  color: #FC5130;
  margin-left: 0.5rem;
  -webkit-animation: headder-load-right 1200ms 1 cubic-bezier(0.42, 0.2, 0.5, 1);
          animation: headder-load-right 1200ms 1 cubic-bezier(0.42, 0.2, 0.5, 1);
}

.headder {
  -webkit-animation: scale 8s ease-in-out 1500ms infinite normal none;
          animation: scale 8s ease-in-out 1500ms infinite normal none;
  position: absolute;
  width: 100vw;
  top: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headder .title {
  -webkit-animation: headder-load-left 1200ms 1 cubic-bezier(0.42, 0.2, 0.5, 1);
          animation: headder-load-left 1200ms 1 cubic-bezier(0.42, 0.2, 0.5, 1);
}

.content {
  -webkit-transition-property: margin, font-size, max-width;
  transition-property: margin, font-size, max-width;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.mobile-topnav {
  -webkit-animation: nav-load 1600ms ease-in-out;
          animation: nav-load 1600ms ease-in-out;
  -webkit-transition-property: padding-top, background-color;
  transition-property: padding-top, background-color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  z-index: 1;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.mobile-topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px 0px 5px;
}

.mobile-topnav a:hover {
  background-color: #ddd;
  border-radius: 2px;
  color: black;
}

.mobile-topnav a.active {
  background-color: #FC5130;
  color: white;
  border-radius: 2px;
}

.topnav {
  -webkit-animation: nav-load 1600ms ease-in-out;
          animation: nav-load 1600ms ease-in-out;
  position: absolute;
  -webkit-transition-property: padding-top, background-color;
  transition-property: padding-top, background-color;
  z-index: 1;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-top: 1rem;
  width: 100vw;
}

.topnav a {
  margin: 0px 5px 0px 5px;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: #ddd;
  border-radius: 2px;
  color: black;
}

.topnav a.active {
  background-color: #FC5130;
  color: white;
  border-radius: 2px;
}

.container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax {
  background-image: url("../images/codingdark.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction,
.skills,
.email-forum {
  background-color: #272727;
  padding: 1rem;
  border-radius: 5px;
  border-width: 1rem;
  color: white;
  border: 0.2rem solid #FC5130;
}

.introduction h2,
.skills h2,
.email-forum h2 {
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

.skillbar-wrapper {
  margin: 1.5em auto;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: white;
  border-radius: 3px;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
  height: inherit;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: inherit;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: inherit;
  width: 0%;
  border-radius: 3px;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  height: inherit;
  color: black;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
  color: #333;
}

.html5 .skillbar-title {
  background: #d35400;
}

.html5 .skillbar-bar {
  background: #e67e22;
}

.css .skillbar-title {
  background: #2980b9;
}

.css .skillbar-bar {
  background: #3498db;
}

.javascript .skillbar-title {
  background: #cfba19;
}

.javascript .skillbar-bar {
  background: #f7df1e;
}

.nodejs .skillbar-title {
  background: #68A063;
}

.nodejs .skillbar-bar {
  background: #3C873A;
}

.php .skillbar-title {
  background: #46465e;
}

.php .skillbar-bar {
  background: #5a68a5;
}

.git .skillbar-title {
  background: #641e0f;
}

.git .skillbar-bar {
  background: #f34f29;
}

.server .skillbar-title {
  background: #5e2750;
}

.server .skillbar-bar {
  background: #380a36;
}

.Csharp .skillbar-title {
  background: #1fd762;
}

.Csharp .skillbar-bar {
  background: #0b5a12;
}

.sql .skillbar-title {
  background: #00758F;
}

.sql .skillbar-bar {
  background: #F29111;
}

.python .skillbar-title {
  background: #306998;
}

.python .skillbar-bar {
  background: #FFE873;
}

.footer {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: #333333;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.arrow-container {
  -webkit-animation: bounce 1800ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: bounce 1800ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.arrow-wrapper {
  position: absolute;
  top: 90vh;
  left: 50%;
}

.arrow-down {
  -webkit-animation: arrow-fade ease-in 2s;
          animation: arrow-fade ease-in 2s;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 5px;
}

.arrow-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.sticky {
  width: 100vw;
  position: fixed;
  top: 0;
  -webkit-transition-property: padding-top, padding-bottom, background-color;
  transition-property: padding-top, padding-bottom, background-color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  background-color: rgba(35, 35, 35, 0.612);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-radius: 2px;
  color: black;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.footer {
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  display: block;
}

.footer p {
  margin: 0;
}

.footer-container {
  padding-bottom: 0.5rem;
  background-color: #272727;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-card {
  margin: 0px 10px 0px 10px;
  color: white;
  display: block;
}

.footer-card li {
  padding-bottom: 5px;
  text-align: left;
}

.footer-card h2 {
  text-align: center;
  border-bottom: 2px solid white;
}

.footer-card .socialmedia {
  margin-top: 10px;
  text-align: center;
}

.footer-card .socialmedia img {
  max-width: 30px;
  -webkit-transition-property: max-width;
  transition-property: max-width;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.nav-bottom li :hover {
  color: grey;
  cursor: pointer;
}

.copyright {
  background-color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright p {
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.email-forum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email-forum .forum-container {
  display: block;
  text-align: center;
}

.email-forum .forum-container li {
  vertical-align: top;
  text-align: left;
}

.grid-container {
  color: white;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  display: -ms-grid;
  display: grid;
}

.grid-item {
  text-align: left;
}

.grid-item input {
  float: left;
}

.grid-item textarea {
  width: 60vw;
  height: 150px;
}

.grid-item #submit {
  color: white;
  background-color: #FC5130;
  padding: 8px 12px;
  -ms-grid-column: 2;
  grid-column: 2;
}

@-webkit-keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0%;
  }
  70% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0%;
  }
  70% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
  }
}

@-webkit-keyframes headder-load-left {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 100%;
  }
}

@keyframes headder-load-left {
  0% {
    -webkit-transform: translateX(-10vw);
            transform: translateX(-10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 100%;
  }
}

@-webkit-keyframes headder-load-right {
  0% {
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 100%;
  }
}

@keyframes headder-load-right {
  0% {
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 100%;
  }
}

@-webkit-keyframes arrow-fade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes arrow-fade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes scale {
  0% {
    scale: 100%;
  }
  70% {
    scale: 100%;
  }
  85% {
    scale: 108%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  70% {
    scale: 100%;
  }
  85% {
    scale: 108%;
  }
  100% {
    scale: 100%;
  }
}
/*# sourceMappingURL=style.css.map */