body {
  background-color: #303036;
  margin: 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0 !important
}

h1 {
  font-family: Arial;
  color: white;
}


.name {
  font-family: Arial;
  color: #FC5130;
  margin-left: 0.5rem;
}

.headder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 40vh;
}

.topnav {
  overflow: hidden;
  position: sticky;

  margin-left: 2rem;
  padding-top: 2rem;

  a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
      border-radius: 2px;
      color: black;
    }

    &.active {
      background-color: #FC5130;
      color: white;
      border-radius: 2px;
    }
  }
}

.container {
  display: block;
  justify-content: center;
}


.parallax {
  background-image: url("../images/codingdark.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction,
.skills {
  margin: 2rem;
  background-color: #272727;
  padding: 1rem;
  border-radius: 5px;
  justify-content: center;
  border-width: 1rem;
  color: white;
  border: 0.2rem solid #FC5130;

  & h2 {
    font-weight: bold;
    text-shadow: 2px 2px 8px black;

  }
}

.skillbar-wrapper {
  margin: 1.5em auto;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: white;
  height: 35px;
  border-radius: 3px;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;

  span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  border-radius: 3px;
  transition: 500ms linear;
  transition-property: width, background-color;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  color: black;
  transition: color 500ms ease-out;
}

.complete {
  .skill-bar-percent {
    color: #333;
  }
}

.html5 {
  .skillbar-title {
    background: #d35400;
  }

  .skillbar-bar {
    background: #e67e22;
  }
}

.css {
  .skillbar-title {
    background: #2980b9;
  }

  .skillbar-bar {
    background: #3498db;
  }
}

.javascript {
  .skillbar-title {
    background: #fac552;
  }

  .skillbar-bar {
    background: #f1ac18;
  }
}

.nodejs {
  .skillbar-title {
    background: #68A063;
  }

  .skillbar-bar {
    background: #3C873A;
  }
}

.php {
  .skillbar-title {
    background: #46465e;
  }

  .skillbar-bar {
    background: #5a68a5;
  }
}

.git {
  .skillbar-title {
    background: #641e0f;
  }

  .skillbar-bar {
    background: #f34f29;
  }
}

.server {
  .skillbar-title {
    background: #5e2750;
  }

  .skillbar-bar {
    background: #380a36;
  }
}

.footer {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: #333333;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
  font-size: medium;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

.arrow-container {
  width: 25px;
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-wrapper {
  position: absolute;
  top: 90vh;
  left: 50%;
}

.arrow-down {
  height: 6px;
  background: white;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: white;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.contact {
  color: white;
  display: flex;
  justify-content: center;
}