@media only screen and (max-width: 376px) {
  .headder {
    display: block;
    // left: 50vw;
    text-align: center;
  }

  .topnav {
    visibility: hidden;
  }

  .nav {
    .mobile-topnav .dropbtn {
      transition-property: padding, font-size;
      transition-duration: 700ms;
      padding: 10px 12px;
      font-size: 15px;
    }

    a {
      transition-property: padding, font-size;
      transition-duration: 700ms;
      padding: 10px 12px;
      font-size: 15px;
    }
  }
  .footer {
    font-size: 80%;
  }
  .socialmedia img {
    max-width: 20px;
  }
}

@media only screen and (min-width: 376px) {
  .topnav {
    display: block;
  }

  .nav {
    .mobile-topnav .dropbtn {
      transition-property: padding, font-size;
      transition-duration: 700ms;
      padding: 14px 16px;
      font-size: 17px;
    }

    a {
      transition-property: padding, font-size;
      transition-duration: 700ms;
      padding: 14px 16px;
      font-size: 17px;
    }
  }

  .mobile-topnav {
    visibility: hidden;
  }

  .socialmedia img{
    max-width: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .headder {
    display: block;
    text-align: center;

    h1 {
      transition-property: font-size;
      transition-duration: 500ms;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 451px) {
  .headder {
    left: 0;
    display: inline-flex;
  }
}

@media only screen and (max-width: 900px) {
  .headder {
    h1 {
      transition-property: font-size;
      transition-duration: 500ms;
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .headder {
    h1 {
      transition-property: font-size;
      transition-duration: 500ms;
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .content {
    margin: 2rem;
  }
}

@media screen and (max-width: 2800px) {
  .skill-bar-percent {
    line-height: 35px;
  }

  .skillbar-title span {
    line-height: 35px;
  }

  .skillbar {
    height: 35px;
  }
  .arrow-container {
    width: 25px;
    height: 20px;
  }
  .arrow-down {
    height: 6px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2800px) {
  .content {
    margin: 2rem auto;
    max-width: 1500px;
  }
}

@media only screen and (min-width: 2800px) {
  .headder {
    h1 {
      transition-property: font-size;
      transition-duration: 500ms;
      font-size: 4.5rem;
    }
  }

  .nav {
    a {
      transition-property: padding, font-size;
      transition-duration: 700ms;
      padding: 24px 28px;
      font-size:150%;
    }
  }

  .content {
    margin: 6rem auto;
    max-width: 2500px;
    font-size: 125%;
  }

  .skill-bar-percent {
    font-size: 125%;
  }

  .skillbar-title span {
    font-size: 125%;
  }

  .skill-bar-percent {
    line-height: 55px;
  }

  .skillbar-title span {
    line-height: 55px;
  }

  .skillbar {
    height: 55px;
  }
  .footer {
    font-size: 125%;
  }
  .socialmedia {
    margin-left: 1.2rem;
  }
  .arrow-container {
    width: 35px;
    height: 30px;
  }
  .arrow-down {
    height: 10px;
  }
}

body {
  font-family: Arial;
  background-color: #343435;
  margin: 0;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
  // overflow-y: scroll;
  overflow-X: hidden;
  // -moz-overflow-style: hidden;
}

body::-webkit-scrollbar {
  width: 0 !important
}


h1 {
  color: white;
}


.name {
  color: #FC5130;
  margin-left: 0.5rem;
  animation: headder-load-right 1200ms 1 cubic-bezier(0.42,0.20,0.50,1);
}

.headder {
  animation: scale 8s ease-in-out 1500ms infinite normal none;
  position: absolute;
  width: 100vw;
  top: 40vh;
  justify-content: center;
  .title {
    animation: headder-load-left 1200ms 1 cubic-bezier(0.42,0.20,0.50,1);
  }
}

.content {
  transition-property: margin, font-size, max-width;
  transition-duration: 700ms;
}

.mobile-topnav {
  animation: nav-load ease-in-out 800ms;
  transition-property: padding-top, background-color;
  transition-duration: 200ms;
  z-index: 1;
  padding-left: 2rem;
  padding-top: 1rem;

  a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: #ddd;
      border-radius: 2px;
      color: black;
    }

    &.active {
      background-color: #FC5130;
      color: white;
      border-radius: 2px;
    }
  }
}

.topnav {
  animation: nav-load ease-in-out 800ms;
  position: absolute;
  transition-property: padding-top, background-color;
  z-index: 1;
  transition-duration: 200ms;
  overflow: hidden;
  padding-left: 2rem;
  padding-top: 1rem;

  a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;

    &:hover {
      transition: all 200ms;
      background-color: #ddd;
      border-radius: 2px;
      color: black;
    }

    &.active {
      background-color: #FC5130;
      color: white;
      border-radius: 2px;
    }
  }
}

.container {
  display: block;
  justify-content: center;
}


.parallax {
  background-image: url("../images/codingdark.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction,
.skills {
  background-color: #272727;
  padding: 1rem;
  border-radius: 5px;
  border-width: 1rem;
  color: white;
  border: 0.2rem solid #FC5130;

  & h2 {
    font-weight: bold;
    text-shadow: 2px 2px 8px black;

  }
}

.skillbar-wrapper {
  margin: 1.5em auto;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: white;
  border-radius: 3px;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
  height: inherit;

  span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: inherit;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.skillbar-bar {
  height: inherit;
  width: 0%;
  border-radius: 3px;
  transition: 500ms linear;
  transition-property: width, background-color;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  height: inherit;
  color: black;
  transition: color 500ms ease-out;
}

.complete {
  .skill-bar-percent {
    color: #333;
  }
}

.html5 {
  .skillbar-title {
    background: #d35400;
  }

  .skillbar-bar {
    background: #e67e22;
  }
}

.css {
  .skillbar-title {
    background: #2980b9;
  }

  .skillbar-bar {
    background: #3498db;
  }
}

.javascript {
  .skillbar-title {
    background: #cfba19;
  }

  .skillbar-bar {
    background: #f7df1e;
  }
}

.nodejs {
  .skillbar-title {
    background: #68A063;
  }

  .skillbar-bar {
    background: #3C873A;
  }
}

.php {
  .skillbar-title {
    background: #46465e;
  }

  .skillbar-bar {
    background: #5a68a5;
  }
}

.git {
  .skillbar-title {
    background: #641e0f;
  }

  .skillbar-bar {
    background: #f34f29;
  }
}

.server {
  .skillbar-title {
    background: #5e2750;
  }

  .skillbar-bar {
    background: #380a36;
  }
}

.Csharp {
  .skillbar-title {
    background: #1fd762;
  }

  .skillbar-bar {
    background: #0b5a12;
  }
}

.sql {
  .skillbar-title {
    background: #00758F;
  }

  .skillbar-bar {
    background: #F29111;
  }
}

.python {
  .skillbar-title {
    background: #306998;
  }

  .skillbar-bar {
    background: #FFE873;
  }
}

.footer {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: #333333;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

.arrow-container {
  animation: bounce 1800ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.arrow-wrapper {
  position: absolute;
  top: 90vh;
  left: 50%;
}

.arrow-down {
  animation: arrow-fade ease-in 2s ;
  background: white;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: white;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
}

.sticky {
  width: 100vw;
  position: fixed;
  top: 0;
  transition-property: padding-top, padding-bottom, background-color;
  transition-duration: 200ms;
  background-color: rgba(35, 35, 35, 0.612);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact {
  color: white;
  display: flex;
  justify-content: center;
}

.dropdown {
  float: left;

  .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  &:hover {
    .dropbtn {
      transition: all 200ms;
      border-radius: 2px;
      color: black;
      background-color: rgb(255, 255, 255);
    }

    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  transition: all ease-in 200ms;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #ddd;
    }
  }
}

.footer {
  transition-property: font-size;
  transition-duration: 500ms;
  display: block;
  p {
    margin: 0;
  }
}

.footer-container {
  padding-bottom: 0.5rem;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
}

.footer-card {
  margin: 0px 10px 0px 10px;
  color: white;
  display: block;
  li {
    padding-bottom: 5px;
  }
  h2 {
    text-align: center;
    border-bottom:2px solid rgb(29, 29, 29);
  }
  .socialmedia {
    margin-top: 10px;
    img {
      transition-property: max-width;
      transition-duration: 500ms;
    }
  }
}

.nav-bottom {

  li :hover {
    color: grey;
    cursor: pointer;
  }
}

.copyright {
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;

  p {
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
@keyframes headder-load-left {
  0% {
    transform: translateX(-10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    transform: translateX(0vw);
    opacity: 100%;
  }
}
@keyframes headder-load-right {
  0% {
    transform: translateX(10vw);
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  100% {
    transform: translateX(0vw);
    opacity: 100%;
  }
}
@keyframes arrow-fade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes scale {
  0% {
    scale: 100%;
  }
  70% {
    scale: 100%;
  }
  85% {
    scale: 108%;
  }
  100% {
    scale: 100%;
  }
}