body {
  font-family: Arial;
  background-color: #303036;
  margin: 0;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

@media only screen and (max-width: 374.99px) {
  .headder {
    display: block;
    text-align: center;
  }
  .topnav {
    visibility: hidden;
  }
  .nav .mobile-topnav .dropbtn {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 10px 12px;
    font-size: 15px;
  }
  .nav a {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 10px 12px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 375px) {
  .topnav {
    display: block;
  }
  .nav .mobile-topnav .dropbtn {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 14px 16px;
    font-size: 17px;
  }
  .nav a {
    -webkit-transition-property: padding, font-size;
    transition-property: padding, font-size;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    padding: 14px 16px;
    font-size: 17px;
  }
  .mobile-topnav {
    visibility: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .headder {
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 451px) {
  .headder {
    left: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

h1 {
  color: white;
}

.name {
  color: #FC5130;
  margin-left: 0.5rem;
}

.headder {
  position: absolute;
  width: 100vw;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40vh;
}

.mobile-topnav {
  z-index: 1;
  padding-left: 2rem;
  padding-top: 1rem;
}

.mobile-topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.mobile-topnav a:hover {
  background-color: #ddd;
  border-radius: 2px;
  color: black;
}

.mobile-topnav a.active {
  background-color: #FC5130;
  color: white;
  border-radius: 2px;
}

.topnav {
  position: absolute;
  -webkit-transition-property: padding-top, background-color;
  transition-property: padding-top, background-color;
  z-index: 1;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  overflow: hidden;
  padding-left: 2rem;
  padding-top: 1rem;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: #ddd;
  border-radius: 2px;
  color: black;
}

.topnav a.active {
  background-color: #FC5130;
  color: white;
  border-radius: 2px;
}

.container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax {
  background-image: url("../images/codingdark.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction,
.skills {
  margin: 2rem;
  background-color: #272727;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 1rem;
  color: white;
  border: 0.2rem solid #FC5130;
}

.introduction h2,
.skills h2 {
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

.skillbar-wrapper {
  margin: 1.5em auto;
}

.skillbar {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background: white;
  height: 35px;
  border-radius: 3px;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  border-radius: 3px;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  color: black;
  -webkit-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}

.complete .skill-bar-percent {
  color: #333;
}

.html5 .skillbar-title {
  background: #d35400;
}

.html5 .skillbar-bar {
  background: #e67e22;
}

.css .skillbar-title {
  background: #2980b9;
}

.css .skillbar-bar {
  background: #3498db;
}

.javascript .skillbar-title {
  background: #cfba19;
}

.javascript .skillbar-bar {
  background: #f7df1e;
}

.nodejs .skillbar-title {
  background: #68A063;
}

.nodejs .skillbar-bar {
  background: #3C873A;
}

.php .skillbar-title {
  background: #46465e;
}

.php .skillbar-bar {
  background: #5a68a5;
}

.git .skillbar-title {
  background: #641e0f;
}

.git .skillbar-bar {
  background: #f34f29;
}

.server .skillbar-title {
  background: #5e2750;
}

.server .skillbar-bar {
  background: #380a36;
}

.Csharp .skillbar-title {
  background: #1fd762;
}

.Csharp .skillbar-bar {
  background: #0b5a12;
}

.sql .skillbar-title {
  background: #00758F;
}

.sql .skillbar-bar {
  background: #F29111;
}

.python .skillbar-title {
  background: #306998;
}

.python .skillbar-bar {
  background: #FFE873;
}

.footer {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: #333333;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
  font-size: medium;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.arrow-container {
  width: 25px;
  -webkit-animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-wrapper {
  position: absolute;
  top: 90vh;
  left: 50%;
}

.arrow-down {
  height: 6px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  border-radius: 5px;
}

.arrow-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.sticky {
  width: 100vw;
  position: fixed;
  top: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: rgba(35, 35, 35, 0.612);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-radius: 2px;
  color: black;
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
/*# sourceMappingURL=style.css.map */